snippet inp "Input in to an array" b
${1:VariableType} ${2:Name}[${3:Nums}];
for(int i = 0; i < $3; i++)
{
	cin >> $2[i];
}
endsnippet

snippet forfor "Nested Loop" A
for(int i = 0; i < ${1:Count1}; i++)
{
	for(int j = 0; j < ${2:Count1}; j++)
	{
		$3;
	}
}
endsnippet
		
	
